<a onclick="loadTab('{{slug}}')" id="{{slug}}-nav-item"
   class="nav-item inline-block cursor-pointer text-lg font-bold lowercase mr-4 mb-5 text-gray-800 rounded-full px-4 py-2 transform transition-all hover:scale-105 hover:bg-gray-100 {{#has
           number="1" }}active{{/has}}"><i class="fa fa-hashtag"></i> {{name}}</a>