<ul>
    {{#foreach navigation}}
        <li class="block mb-2 hover:text-primary"><a href="{{url absolute="true"}}">{{#if
                label}}{{label}}{{else}}{{name}}{{/if}}</a></li>
    {{/foreach}}
</ul>
