<a class="inline-block text-3xl mr-5 mb-5 hover:text-primary" href="https://github.com/nknickrehm" target="_blank"><i class="fab fa-github"></i></a>
<a class="inline-block text-3xl mr-5 mb-5 hover:text-primary" href="https://www.linkedin.com/in/nikolas-knickrehm-318877150/" target="_blank"><i class="fab fa-linkedin"></i></a>
<a class="inline-block text-3xl mr-5 mb-5 hover:text-primary" href="https://www.xing.com/profile/Nikolas_Knickrehm/" target="_blank"><i class="fab fa-xing"></i></a>
