{{#if @custom.twitter_link}}<a class="inline-block text-3xl mr-5 mb-5 hover:text-primary" href="{{@custom.twitter_link}}" target="_blank"><i class="fab fa-twitter"></i></a>{{/if}}
{{#if @custom.github_link}}<a class="inline-block text-3xl mr-5 mb-5 hover:text-primary" href="{{@custom.github_link}}" target="_blank"><i class="fab fa-github"></i></a>{{/if}}
{{#if @custom.linkedin_link}}<a class="inline-block text-3xl mr-5 mb-5 hover:text-primary" href="{{@custom.linkedin_link}}" target="_blank"><i class="fab fa-linkedin"></i></a>{{/if}}
{{#if @custom.xing_link}}<a class="inline-block text-3xl mr-5 mb-5 hover:text-primary" href="{{@custom.xing_link}}" target="_blank"><i class="fab fa-xing"></i></a>{{/if}}
