<a class="tag inline-block text-sm font-bold text-blue-400 lowercase mr-3 transform transition-all hover:scale-105"
   href="{{url}}">
    <i aria-hidden="true" class="fa fa-hashtag"></i>{{name}}</i>
</a>
