{{!< default}}

<header class="mb-10">
    <article>
        <p class="mb-5"><a href="/" class="hover:text-blue-400">Home</a> <i
                class="inline-block mx-2 fa fa-angle-right"></i> ???</p>
        <h1 class="text-5xl font-bold mb-5">Error {{statusCode}}: {{message}}</h1>
        <p><a class="mt-5 button red" href="{{@site.url}}">Go to the front page</a></p>
    </article>
</header>

